<% include header %>

<div class="container">

  <div class="starter-template">
    <h1>The Superbly Boomz Defense System!!!</h1>

    <div>
      <img src="/img/obama.jpg" id="obama">
    </div>

    <input class="btn btn-danger btn-lg" value="BOOMZ them all!!!" id="da_boomz" disabled>

    <pre id="log"></pre>
  </div>

</div><!-- /.container -->

<% include footer %>